<!DOCTYPE html>
<html lang="en">

<head>
    {{>scripts}}
    <title>
        {{title}}
    </title>
    <link rel="stylesheet" href="css/about.css">
</head>

<body>

    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">

            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left div -->

                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="image/about.jpg" alt="about me" class="img-fluid" title="nano">
                        </figure>
                    </div>

                    <!-- right div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Coding World</p>
                        <h1>I Am A <span class="text-color">Mern Stack Developer</span>And A Freelancer</h1>
                        <a href="/about"><button>About Me</button></a>
                    </div>

                </div>
            </div>

        </div>
    </div>

    {{>footer}}

</body>

</html>