<!DOCTYPE html>
<html lang="en">

<head>
    {{>scripts}}
    <title>
        {{title}}
    </title>
</head>

<body>

    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">

            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left div -->

                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img width="600px" style="border-radius: 10px;" src="image/404.jpg" alt="about me" class="img-fluid" title="nano">
                        </figure>
                    </div>

                    <!-- right div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Coding World</p>
                        <h1>404 <span class="text-color">Page Not Found</span></h1>
                        <a href="/"><button>Go Home</button></a>
                    </div>

                </div>
            </div>

        </div>
    </div>

    {{>footer}}

</body>

</html>